:root {
    --main-color: #F2EAE2;
    --primary-text-color: #1C232B;
    --secondary-text-color: #3C8067;
    --secondary-color:#FFFFFF;
    --tertiary-color: #6B7189;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

img {
    width: 100%;
}

head {
    font-size: 11px;
    text-align: center;  
}

/* principal */

main {
    display: flex;
    font-size: 14px;
    background-color: var(--main-color);
}

.container-1 {
    display: flex;
}





















/*.imgPrincipal {
    width: 100%;
    border-radius: 20px 0 0 20px;
}

.titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    margin: 20px;
}

.produto {
    font-family: 'Fraunces', serif;
    font-size: 20px;
    margin: 20px;
}

.descricao {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: 20px;
}

.desconto {
    font-family: 'Fraunces', serif;
    font-size: 20px;
    color: hsl(158, 36%, 37%);
    margin: 20px;
}

.semDesconto {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin: 10px;
    text-decoration: line-through
}

.carrinhoDeCompras {
    width: 15; 
    height: 16;
    color: hsl(0, 0%, 100%);
}

.adicionarNoCarrinho {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    background: hsl(158, 36%, 37%);    
    color: hsl(0, 0%, 100%);
    border: 100px;
    border-radius: 5px; 
    margin: 20px;
    padding: 10px 20px
}

@media screen and (max-width: 480px){
	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
		width: auto;
	}
	h1 {
		text-align: center;
	}


	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	}
} */