:root {
    --main-color: #F3EAE3;
    --secondary-color:#FFFFFF;
    --tertiary-color: #6B7189;
    --primary-text-color: #1C232B;
    --secondary-text-color: #3D8168;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

img {
    width: 100%;
}

head {
    font-size: 11px;
    text-align: center;  
}

/* principal */

main {
    display: flex;
    font-size: 14px;
    background-color: var(--main-color);
}

.img {
    display: block;
}

.imgPrincipal {
    display: flex;
    width: 20em;
    border-radius: 8px 0 0 8px;
    margin-top: 7em;
    margin-bottom: 10em;
    margin-left: 30em;
}

.retangulo {
    display: flex;
    position: relative;
    width: 21em;
    height: 30em;
    border-radius: 0 8px 8px 0;
    margin-top: 7em;
    background-color: var(--secondary-color);
    z-index: 1;
}

.titulo {
    position: absolute;
    margin-top: 1em;
    margin-left: 2em;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    color: var(--tertiary-color);
    text-align: center;
    z-index: 2;
    letter-spacing: .5em;
    text-transform: uppercase;  
}

.subtitulo {
    position: absolute;
    margin-top: 1em;
    margin-left: 0.4em;
    padding: 0.5em;
    font-family: 'Fraunces', serif;
    line-height: 1em;
    font-size: 2.4em;
    color: var(--primary-text-color);
    text-align: left;
    z-index: 2;
}

.descricao {
    position: absolute;
    margin-top: 13em;
    margin-left: 2em;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7em;
    font-size: 1em;
    color: var(--tertiary-color);
    text-align: left;
    z-index: 2;
}

.precoDesconto {
    position: absolute;
    margin-top: 11em;
    margin-left: 1em;
    font-family: 'Fraunces', serif;
    font-size: 2em;
    color: var(--secondary-text-color);
}

.precoSemDesconto {
    position: absolute;
    margin-top: 22.5em;
    margin-left: 13em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: var(--tertiary-color);
    text-decoration: line-through
}

.btn {
    display: flex;
    position: relative;
    width: 17em;
    height: 3em;
    border-radius: 0.4em;
    margin-top: 26em;
    margin-left: 2em;
    background-color: var(--secondary-text-color);
    z-index: 1;
}

i {
    position: relative;
    margin-top: 0.6em;
    margin-left: 4em;
    padding: 0.3em;
    color: var(--secondary-color);
    font-size: 1em;
}

.addCarrinho {
    position: relative;
    margin-top: 0.8em;
    margin-left: 0.3em;
    padding: 0.3em;
    color: var(--secondary-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
}

